.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #131418;
  color: rgb(255, 255, 255);
}
h2 {
  font-family: cursive;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*text-shadow: 2px 2px 2px #ff0000;*/
  position: relative;
  top: -30px;
  animation: animate 1.5s linear infinite;
}
span.show {
  margin: 20px 0;
}
span.hide {
  height: 100px;
}

table td {
  cursor: pointer;
  height: 100px;
  width: 100px;
  box-shadow: 1px 1px 5px 2px rgba(255, 255, 255, 0.4);
}

button {
  padding: 10px;
  border-radius: 10px;
  background-color: #008cba;
  cursor: pointer;
}
@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}
